device2_flow.json
[
    {
        "id": "tab-device2",
        "type": "tab",
        "label": "Device 2 — Room2",
        "disabled": false,
        "info": "Node ID 2"
    },
    {
        "id": "ws-client-2",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:5580/ws",
        "tls": "",
        "proxy": "",
        "wholemsg": "false",
        "hb": "30",
        "subprotocol": ""
    },
    {
        "id": "ws-in-2",
        "type": "websocket in",
        "z": "tab-device2",
        "name": "← Matter Server",
        "server": "",
        "client": "ws-client-2",
        "x": 130,
        "y": 260,
        "wires": [["func-parse-2"]]
    },
    {
        "id": "ws-out-2",
        "type": "websocket out",
        "z": "tab-device2",
        "name": "→ Matter Server",
        "server": "",
        "client": "ws-client-2",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "func-parse-2",
        "type": "function",
        "z": "tab-device2",
        "name": "Parse Messages",
        "func": "const SENSOR_CLUSTERS = new Set([1029, 1024, 1030, 1026]);\nconst NODE_ID = 2;\n\nlet d;\ntry {\n    const raw = msg.payload;\n    if (!raw) return null;\n    d = (typeof raw === 'object') ? raw : JSON.parse(raw);\n} catch(e) { return null; }\nif (!d || typeof d !== 'object') return null;\n\nif (d.fabric_id !== undefined) {\n    node.status({fill:'yellow', shape:'ring', text:'Connecting…'});\n    return [null, {\n        payload: JSON.stringify({\n            message_id: 'listen-2',\n            command:    'start_listening',\n            args:       {}\n        })\n    }];\n}\n\nif (d.message_id === 'listen-2' && Array.isArray(d.result)) {\n    const node1 = d.result.find(n => n.node_id === NODE_ID);\n    if (!node1) return null;\n    const flat = [];\n    Object.keys(node1.attributes || {}).forEach(path => {\n        const parts     = String(path).split('/');\n        const clusterId = parseInt(parts[1], 10);\n        const attrId    = parseInt(parts[2], 10);\n        const value     = node1.attributes[path];\n        if (SENSOR_CLUSTERS.has(clusterId) && attrId === 0\n                && value !== null && value !== undefined) {\n            flat.push({ payload: { clusterId, value } });\n        }\n    });\n    if (flat.length) {\n        node.status({fill:'green', shape:'dot', text:'Live'});\n        return [flat, null];\n    }\n    return null;\n}\n\nif (d.event === 'attribute_updated' && Array.isArray(d.data)) {\n    const [nodeId, path, value] = d.data;\n    if (nodeId !== NODE_ID) return null;\n    const parts     = String(path).split('/');\n    const clusterId = parseInt(parts[1], 10);\n    if (isNaN(clusterId) || !SENSOR_CLUSTERS.has(clusterId)) return null;\n    return [{ payload: { clusterId, value } }, null];\n}\n\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "node.status({fill:'grey', shape:'ring', text:'Waiting…'});",
        "finalize": "node.status({fill:'red', shape:'ring', text:'Disconnected'});",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [["func-router-2"], ["ws-out-2"]]
    },
    {
        "id": "func-router-2",
        "type": "function",
        "z": "tab-device2",
        "name": "Route by Cluster ID",
        "func": "const p = msg.payload;\nif (!p || p.clusterId === undefined) return [null,null,null,null];\nconst id  = p.clusterId;\nconst val = p.value;\nif (id === 1029) return [{ payload: parseFloat((val/100).toFixed(2)), topic:'humidity'    }, null, null, null];\nif (id === 1024) return [null, { payload: val > 1 ? Math.round(Math.pow(10,(val-1)/10000)) : 0, topic:'illuminance' }, null, null];\nif (id === 1030) return [null, null, { payload: (val & 1) ? 'Detected':'Clear', topic:'occupancy'  }, null];\nif (id === 1026) return [null, null, null, { payload: parseFloat((val/100).toFixed(1)), topic:'temperature' }];\nreturn [null,null,null,null];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [["func-humidity-2"],["func-illuminance-2"],["func-occupancy-2"],["func-temperature-2"]]
    },
    {
        "id": "func-humidity-2",
        "type": "function",
        "z": "tab-device2",
        "name": "💧 Humidity",
        "func": "const v = msg.payload;\nif (v == null) { node.status({fill:'grey',shape:'ring',text:'—'}); return null; }\nnode.status({fill:'blue', shape:'dot', text: v + ' %'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "node.status({fill:'grey',shape:'ring',text:'Waiting…'});",
        "finalize": "node.status({});",
        "libs": [],
        "x": 760,
        "y": 160,
        "wires": [["debug-2"]]
    },
    {
        "id": "func-illuminance-2",
        "type": "function",
        "z": "tab-device2",
        "name": "☀️ Illuminance",
        "func": "const v = msg.payload;\nif (v == null) { node.status({fill:'grey',shape:'ring',text:'—'}); return null; }\nnode.status({fill:'yellow', shape:'dot', text: v + ' lx'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "node.status({fill:'grey',shape:'ring',text:'Waiting…'});",
        "finalize": "node.status({});",
        "libs": [],
        "x": 760,
        "y": 230,
        "wires": [["debug-2"]]
    },
    {
        "id": "func-occupancy-2",
        "type": "function",
        "z": "tab-device2",
        "name": "🚶 Occupancy",
        "func": "const v = msg.payload;\nif (v == null) { node.status({fill:'grey',shape:'ring',text:'—'}); return null; }\nconst det = (v === 'Detected');\nnode.status({fill:det?'green':'grey', shape:det?'dot':'ring', text:v});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "node.status({fill:'grey',shape:'ring',text:'Waiting…'});",
        "finalize": "node.status({});",
        "libs": [],
        "x": 760,
        "y": 300,
        "wires": [["debug-2", "func-light-2"]]
    },
    {
        "id": "func-temperature-2",
        "type": "function",
        "z": "tab-device2",
        "name": "🌡️ Temperature",
        "func": "const v = msg.payload;\nif (v == null) { node.status({fill:'grey',shape:'ring',text:'—'}); return null; }\nnode.status({fill:'red', shape:'dot', text: v + ' °C'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "node.status({fill:'grey',shape:'ring',text:'Waiting…'});",
        "finalize": "node.status({});",
        "libs": [],
        "x": 760,
        "y": 370,
        "wires": [["debug-2"]]
    },
    {
        "id": "func-light-2",
        "type": "function",
        "z": "tab-device2",
        "name": "💡 Light Control",
        "func": "const occupied = (msg.payload === 'Detected');\nconst timeStr  = new Date().toLocaleTimeString('en-GB',{hour12:false});\nif (occupied) {\n    context.set('detectedAt', timeStr);\n    node.status({fill:'green',shape:'dot',text:'💡 ON — detected at '+timeStr});\n    msg.payload = 'ON';\n} else {\n    const since = context.get('detectedAt') || '—';\n    node.status({fill:'grey',shape:'ring',text:'💡 OFF — cleared at '+timeStr+' (on since '+since+')'});\n    msg.payload = 'OFF';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "context.set('detectedAt',null);\nnode.status({fill:'grey',shape:'ring',text:'Waiting for sensor…'});",
        "finalize": "node.status({});",
        "libs": [],
        "x": 980,
        "y": 360,
        "wires": [["mqtt-relay1-2", "mqtt-relay2-2"]]
    },
    {
        "id": "mqtt-broker-2",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "192.168.1.44",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "", "birthQos": "0", "birthRetain": "false", "birthPayload": "", "birthMsg": {},
        "closeTopic": "", "closeQos": "0", "closeRetain": "false", "closePayload": "", "closeMsg": {},
        "willTopic": "", "willQos": "0", "willRetain": "false", "willPayload": "", "willMsg": {},
        "userProps": "", "sessionExpiry": ""
    },
    {
        "id": "mqtt-relay1-2",
        "type": "mqtt out",
        "z": "tab-device2",
        "name": "Relay 1",
        "topic": "room2/relay1/set",
        "qos": "", "retain": "",
        "broker": "mqtt-broker-2",
        "x": 1180,
        "y": 320,
        "wires": []
    },
    {
        "id": "mqtt-relay2-2",
        "type": "mqtt out",
        "z": "tab-device2",
        "name": "Relay 2",
        "topic": "room2/relay2/set",
        "qos": "", "retain": "",
        "broker": "mqtt-broker-2",
        "x": 1180,
        "y": 400,
        "wires": []
    },
    {
        "id": "debug-2",
        "type": "debug",
        "z": "tab-device2",
        "name": "Sensor Values",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 980,
        "y": 220,
        "wires": []
    }
]
